/*professorsFaltes*/
.centerSeartchBar
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.smallPurple
{
    width: 166.558px;
    height: 52.281px;
    flex-shrink: 0;
    border-radius: 10px 0px 0px 10px;
    background: var(--strong-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--light-color);
    font-size: 20px;
}
.dosEnDos
{
    display: inline-block;
    gap: 30px;
}
.professorFaltes
{
    width: 372.442px;
    height: 52.281px;
    flex-shrink: 0;
    border-radius: 0px 10px 10px 0px;
    background: var(--light-color);

    display: flex;
    align-items: center;
    justify-content: space-around;

    flex-shrink: 0;
}
.professorFaltes input
{
    width: 136.948px;
    height: 32.386px;
    flex-shrink: 0;
    border-radius: 50px;
    background: var(--light-color);
    border-width: 2px;
    border-style: solid;
    border-color: var(--green-color);
    text-align: center;
    margin-left: -10px;
}
.professorFaltes .purpleTxt
{
    width: 136.948px;
    height: 32.386px;
    flex-shrink: 0;
    border-radius: 50px;
    background: var(--light-color);
    border-width: 2px;
    border-style: solid;
    border-color: var(--strong-color);
    text-align: center;
}